// SECTION :: START

section#channels.channels
  .c-grid
    .channels__wrapper
      .channels__wrapper-left

        p.channels__desc!= "If you want to be up to date on our technology development<br><span>sign up to one of our info channels</span>"

      .channels__wrapper-right

        .social
          ul.social__list
            li.social__list-item
              a.social__list-btn(href="#" class="" title="twitter")
                i.icon-font.icon-twitter

            li.social__list-item
              a.social__list-btn(href="#" class="" title="facebook")
                i.icon-font.icon-facebook

            li.social__list-item
              a.social__list-btn(href="#" class="" title="instagram")
                i.icon-font.icon-instagram

            li.social__list-item
              a.social__list-btn(href="#" class="" title="linkedin")
                i.icon-font.icon-linkedin

            li.social__list-item
              a.social__list-btn(href="#" class="" title="youtube")
                i.icon-font.icon-youtube

// SECTION :: END