// SECTION :: START

section#description.description

  .home-hardware

    .home-hardware__header
      p!= '_HARDWARE'

    #video-container.home-hardware__video-container
      video#video(preload='')
        //source(type='video/webm; codecs="vp8, vorbis"', src='https://www.html5rocks.com/tutorials/video/basics/Chrome_ImF.webm')
        //source(type='video/ogg; codecs="theora, vorbis"', src='https://www.html5rocks.com/tutorials/video/basics/Chrome_ImF.ogv')
        source(type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"', src='media/IMG_18522.mp4')

      .home-hardware-item.home-hardware-item--1
        .home-hardware-item__thumbnail
          h3.home-hardware-item__title.section-heading.section-heading--sm _Stem
        .home-hardware-item__content
          .home-hardware-item__icon ICON
          .home-hardware-item__desc
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              | dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
              | was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages…
          ul.home-hardware-item__list
            li.home-hardware-item__list-item
              strong 770 WH
              |  battery capacity
            li.home-hardware-item__list-item
              | More than
              strong 100 KM
              |  of range
            li.home-hardware-item__list-item
              | Engineered by
              strong Greyp

      .home-hardware-item.home-hardware-item--2
        .home-hardware-item__thumbnail
          h3.home-hardware-item__title.section-heading.section-heading--sm _Battery
        .home-hardware-item__content
          .home-hardware-item__icon ICON
          .home-hardware-item__desc
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              | dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
              | was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages…
          ul.home-hardware-item__list
            li.home-hardware-item__list-item
              strong 770 WH
              |  battery capacity
            li.home-hardware-item__list-item
              | More than
              strong 100 KM
              |  of range
            li.home-hardware-item__list-item
              | Engineered by
              strong Greyp

      .home-hardware-item.home-hardware-item--3
        .home-hardware-item__thumbnail
          h3.home-hardware-item__title.section-heading.section-heading--sm _Battery
        .home-hardware-item__content
          .home-hardware-item__icon ICON
          .home-hardware-item__desc
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              | dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
              | was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages…
          ul.home-hardware-item__list
            li.home-hardware-item__list-item
              strong 770 WH
              |  battery capacity
            li.home-hardware-item__list-item
              | More than
              strong 100 KM
              |  of range
            li.home-hardware-item__list-item
              | Engineered by
              strong Greyp

      .home-hardware-item.home-hardware-item--4
        .home-hardware-item__thumbnail
          h3.home-hardware-item__title.section-heading.section-heading--sm _Battery
        .home-hardware-item__content
          .home-hardware-item__icon ICON
          .home-hardware-item__desc
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              | dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
              | was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages…
          ul.home-hardware-item__list
            li.home-hardware-item__list-item
              strong 770 WH
              |  battery capacity
            li.home-hardware-item__list-item
              | More than
              strong 100 KM
              |  of range
            li.home-hardware-item__list-item
              | Engineered by
              strong Greyp

      .home-hardware-item.home-hardware-item--5
        .home-hardware-item__thumbnail
          h3.home-hardware-item__title.section-heading.section-heading--sm _Battery
        .home-hardware-item__content
          .home-hardware-item__icon ICON
          .home-hardware-item__desc
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
              | dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              | It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
              | was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages…
          ul.home-hardware-item__list
            li.home-hardware-item__list-item
              strong 770 WH
              |  battery capacity
            li.home-hardware-item__list-item
              | More than
              strong 100 KM
              |  of range
            li.home-hardware-item__list-item
              | Engineered by
              strong Greyp


// SECTION :: END