// SECTION digital :: START

section#digital.digital
  .c-grid
    .digital__wrapper
      .digital__wrapper-left

        h2.digital__title!= "120% DIGITAL"

      .digital__wrapper-right

        p.digital__desc!= "In 2001 a croatian kid named Mate Rimac decided to do something crazy. In the age of 12 he reinvented the supercar, and international company grew out of this... hand in hand with an enourmouse know-how about electronics"

// SECTION digital :: END