// SECTION it :: START

section#it.it

  a.it__btn.it__btn-try(href="#" class="" title="")
    span!= "try it"

  a.it__btn.it__btn-buy(href="#" class="" title="")
    span!= "buy it"

// SECTION it :: END