@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
/* line 1, src/scss/_generated/_spriteSVG.scss */
.icon-go {
  width: 96px;
  height: 114px;
}

/* line 5, src/scss/_generated/_spriteSVG.scss */
.icon-logo {
  width: 65px;
  height: 46px;
}

/* line 9, src/scss/_generated/_spriteSVG.scss */
.icon-logo-header {
  width: 212px;
  height: 46px;
}

/* line 13, src/scss/_generated/_spriteSVG.scss */
.icon-next {
  width: 21px;
  height: 51px;
}

/* line 17, src/scss/_generated/_spriteSVG.scss */
.icon-prev {
  width: 21px;
  height: 51px;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-basket:before, .icon-facebook:before, .icon-instagram:before, .icon-linkedin:before, .icon-twitter:before, .icon-youtube:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-basket:before {
  content: "";
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-facebook:before {
  content: "";
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-instagram:before {
  content: "";
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-linkedin:before {
  content: "";
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-twitter:before {
  content: "";
}

/* line 53, src/scss/_generated/_spriteFont.scss */
.icon-youtube:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 60px;
}

/* line 34, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 45, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 52, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 55, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 62, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 101, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 109, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 120, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 125, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 132, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 136, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1140px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1140px;
  }
}

@media screen and (min-width: 992px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1140px;
  }
}

@media screen and (min-width: 768px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1366px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1140px;
  }
}

/* line 4, src/scss/_shared/_common.scss */
.subscribe {
  padding-top: 65px;
}

/* line 7, src/scss/_shared/_common.scss */
.subscribe__title {
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
}

/* line 15, src/scss/_shared/_common.scss */
.subscribe__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6px;
}

/* line 20, src/scss/_shared/_common.scss */
.subscribe__form input,
.subscribe__form button {
  outline: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 35px;
}

/* line 29, src/scss/_shared/_common.scss */
.subscribe__form input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  padding: 0 15px;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  letter-spacing: 0;
  background: #D6D6D6;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.subscribe__form input.placeholder {
  color: #9696A0;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.subscribe__form input:-moz-placeholder {
  color: #9696A0;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.subscribe__form input::-moz-placeholder {
  color: #9696A0;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.subscribe__form input:-ms-input-placeholder {
  color: #9696A0;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.subscribe__form input::-webkit-input-placeholder {
  color: #9696A0;
}

/* line 44, src/scss/_shared/_common.scss */
.subscribe__form button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95px;
  background: #000000;
  font-weight: 900;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

/* line 57, src/scss/_shared/_common.scss */
.subscribe__text {
  font-weight: 300;
  font-size: 12px;
  color: #9696A0;
  letter-spacing: 0;
  line-height: 20px;
}

/* line 69, src/scss/_shared/_common.scss */
.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 72, src/scss/_shared/_common.scss */
.social__list-item {
  padding-right: 5px;
}

/* line 75, src/scss/_shared/_common.scss */
.social__list-item:last-of-type {
  padding-right: 0;
}

/* line 80, src/scss/_shared/_common.scss */
.social__list-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17px;
  height: 17px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: 1px solid #222221;
  background-color: #222221;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 91, src/scss/_shared/_common.scss */
.social__list-btn:hover {
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 95, src/scss/_shared/_common.scss */
.social__list-btn:hover .icon-font {
  color: #222221;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 101, src/scss/_shared/_common.scss */
.social__list-btn .icon-font {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 105, src/scss/_shared/_common.scss */
.social__list-btn .icon-font.icon-instagram {
  font-size: 11px;
}

/* line 108, src/scss/_shared/_common.scss */
.social__list-btn .icon-font.icon-facebook {
  font-size: 10px;
}

/* line 111, src/scss/_shared/_common.scss */
.social__list-btn .icon-font.icon-twitter {
  font-size: 7px;
}

/* line 114, src/scss/_shared/_common.scss */
.social__list-btn .icon-font.icon-linkedin {
  font-size: 9px;
}

/* line 117, src/scss/_shared/_common.scss */
.social__list-btn .icon-font.icon-youtube {
  font-size: 10px;
}

/* line 1, src/scss/_shared/_swiper.scss */
.swiper-container {
  width: 100%;
  max-width: 500px;
  height: 300px;
}

/* line 6, src/scss/_shared/_swiper.scss */
.swiper-container-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  min-height: 627px;
}

/* line 15, src/scss/_shared/_swiper.scss */
.swiper-container-main .swiper-slide {
  position: relative;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 3, src/scss/_shared/_iconSVG.scss */
.icon-svg {
  display: inline-block;
  fill: currentColor;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

/* line 11, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

/* line 16, src/scss/_components/_header.scss */
.header__wrapper-left {
  width: 100%;
  max-width: 139px;
}

/* line 21, src/scss/_components/_header.scss */
.header__wrapper-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 32, src/scss/_components/_header.scss */
.header__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 185px;
  padding-right: 10px;
}

/* line 42, src/scss/_components/_header.scss */
.header__wrapper-right div:nth-of-type(2) {
  width: 31px;
}

/* line 49, src/scss/_components/_header.scss */
.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 53, src/scss/_components/_header.scss */
.header__basket {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  width: 31px;
  height: 30px;
}

/* line 61, src/scss/_components/_header.scss */
.header__basket span {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 13px;
  min-height: 13px;
  padding: 1px 2px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #FFE400;
}

/* line 74, src/scss/_components/_header.scss */
.header__basket span i {
  position: relative;
  left: -1px;
  font-weight: 900;
  font-style: italic;
  font-size: 10px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1;
}

/* line 86, src/scss/_components/_header.scss */
.header__basket .icon-font {
  color: #000000;
  font-size: 21px;
}

/* line 92, src/scss/_components/_header.scss */
.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 95, src/scss/_components/_header.scss */
.header__nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 99, src/scss/_components/_header.scss */
.header__nav ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

/* line 107, src/scss/_components/_header.scss */
.header__nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 117, src/scss/_components/_header.scss */
.header__nav-link:hover {
  color: rgba(0, 0, 0, 0.9);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 122, src/scss/_components/_header.scss */
.header__nav-link.is-active {
  font-weight: 900;
}

/* line 3, src/scss/_components/_fast.scss */
.fast {
  z-index: 2;
  position: relative;
}

/* line 7, src/scss/_components/_fast.scss */
.fast__desc {
  padding-bottom: 12px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
}

/* line 16, src/scss/_components/_fast.scss */
.fast__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 540px;
  min-height: 80px;
  padding: 5px 26px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffe400;
}

/* line 27, src/scss/_components/_fast.scss */
.fast__title h2 {
  padding-right: 13px;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
}

/* line 36, src/scss/_components/_fast.scss */
.fast__title p {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
}

/* line 45, src/scss/_components/_fast.scss */
.fast__block {
  position: relative;
  height: 130px;
}

/* line 51, src/scss/_components/_fast.scss */
.fast__block:hover .fast__block-img img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 58, src/scss/_components/_fast.scss */
.fast__block-img {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: -webkit-calc(100% + 80px);
  height: calc(100% + 80px);
}

/* line 67, src/scss/_components/_fast.scss */
.fast__block-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 80, src/scss/_components/_fast.scss */
.fast__block-text {
  padding-top: 10px;
  padding-left: 43px;
  color: #fff;
}

/* line 85, src/scss/_components/_fast.scss */
.fast__block-text span {
  position: relative;
  text-transform: uppercase;
}

/* line 89, src/scss/_components/_fast.scss */
.fast__block-text span:first-of-type {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  letter-spacing: 0;
}

/* line 96, src/scss/_components/_fast.scss */
.fast__block-text span:last-of-type {
  top: 14px;
  font-weight: 900;
  font-style: italic;
  font-size: 48px;
  letter-spacing: 0;
}

/* line 106, src/scss/_components/_fast.scss */
.fast__block-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 100%;
  max-width: 160px;
  height: 30px;
  background-color: #ffe400;
  font-weight: 900;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.45px;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 124, src/scss/_components/_fast.scss */
.fast__block-btn:hover {
  color: #000000;
  background-color: #fff180;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 130, src/scss/_components/_fast.scss */
.fast__block-btn:active {
  color: #000000;
  background-color: #ccb600;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  z-index: 1;
  position: relative;
  padding-bottom: 40px;
  background-color: #ffffff;
}

/* line 9, src/scss/_components/_footer.scss */
.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

/* line 15, src/scss/_components/_footer.scss */
.footer__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

/* line 20, src/scss/_components/_footer.scss */
.footer__col-1 {
  max-width: 351px;
}

/* line 23, src/scss/_components/_footer.scss */
.footer__col-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-left: 9px;
}

/* line 29, src/scss/_components/_footer.scss */
.footer__col-2 svg {
  width: 243px;
  height: 172px;
}

/* line 34, src/scss/_components/_footer.scss */
.footer__col-3, .footer__col-4, .footer__col-5, .footer__col-6 {
  max-width: 95px;
  padding-top: 79px;
}

/* line 41, src/scss/_components/_footer.scss */
.footer__col-7 {
  max-width: 160px;
  padding-top: 79px;
}

/* line 45, src/scss/_components/_footer.scss */
.footer__col-7 .footer__title {
  text-transform: lowercase;
}

/* line 51, src/scss/_components/_footer.scss */
.footer__logo {
  display: block;
}

/* line 55, src/scss/_components/_footer.scss */
.footer__title {
  padding-bottom: 13px;
  font-weight: 900;
  font-style: italic;
  color: #000000;
  letter-spacing: 0;
  text-transform: uppercase;
}

/* line 65, src/scss/_components/_footer.scss */
.footer__nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 69, src/scss/_components/_footer.scss */
.footer__nav ul li {
  padding-bottom: 6px;
}

/* line 72, src/scss/_components/_footer.scss */
.footer__nav ul li:last-of-type {
  padding-bottom: 0;
}

/* line 78, src/scss/_components/_footer.scss */
.footer__nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 86, src/scss/_components/_footer.scss */
.footer__nav-link:hover {
  color: rgba(0, 0, 0, 0.85);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 4, src/scss/_components/home/_it.scss */
.it__btn {
  z-index: 1000;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  width: 90px;
  height: 65px;
  background-color: #ffe400;
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 17, src/scss/_components/home/_it.scss */
.it__btn:hover {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 21, src/scss/_components/home/_it.scss */
.it__btn:hover span {
  -webkit-transform: rotate(0) translateY(0);
      -ms-transform: rotate(0) translateY(0);
          transform: rotate(0) translateY(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 27, src/scss/_components/home/_it.scss */
.it__btn-try {
  top: 141px;
}

/* line 31, src/scss/_components/home/_it.scss */
.it__btn-buy {
  top: 221px;
}

/* line 35, src/scss/_components/home/_it.scss */
.it__btn span {
  white-space: nowrap;
  -webkit-transform: rotate(-90deg) translateY(30px);
      -ms-transform: rotate(-90deg) translateY(30px);
          transform: rotate(-90deg) translateY(30px);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.45px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 3, src/scss/_components/home/_main.scss */
.main {
  padding-bottom: 66px;
}

/* line 6, src/scss/_components/home/_main.scss */
.main__slider {
  position: relative;
  height: 627px;
}

/* line 10, src/scss/_components/home/_main.scss */
.main__slider-btn {
  z-index: 20;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 21px;
}

/* line 18, src/scss/_components/home/_main.scss */
.main__slider-btn:hover svg {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 24, src/scss/_components/home/_main.scss */
.main__slider-btn svg {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 28, src/scss/_components/home/_main.scss */
.main__slider-btn--prev {
  left: 79px;
}

/* line 32, src/scss/_components/home/_main.scss */
.main__slider-btn--next {
  right: 79px;
}

/* line 37, src/scss/_components/home/_main.scss */
.main__slider-content {
  z-index: 15;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

/* line 46, src/scss/_components/home/_main.scss */
.main__desc {
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}

/* line 55, src/scss/_components/home/_main.scss */
.main__title {
  padding-bottom: 5px;
  font-weight: 900;
  font-style: italic;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
}

/* line 64, src/scss/_components/home/_main.scss */
.main__subtitle {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
}

/* line 72, src/scss/_components/home/_main.scss */
.main__go {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95px;
  height: 113px;
}

/* line 83, src/scss/_components/home/_main.scss */
.main__go:hover svg {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 89, src/scss/_components/home/_main.scss */
.main__go svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 99, src/scss/_components/home/_main.scss */
.main__go span {
  position: relative;
  left: 22px;
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-transform: uppercase;
}

/* line 3, src/scss/_components/home/_digital.scss */
.digital {
  padding-bottom: 55px;
}

/* line 6, src/scss/_components/home/_digital.scss */
.digital__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 10, src/scss/_components/home/_digital.scss */
.digital__wrapper-left, .digital__wrapper-right {
  width: 50%;
}

/* line 16, src/scss/_components/home/_digital.scss */
.digital__title {
  font-weight: 900;
  font-size: 84px;
  color: #000000;
  letter-spacing: 0;
}

/* line 23, src/scss/_components/home/_digital.scss */
.digital__desc {
  padding-left: 10px;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
}

/* line 5, src/scss/_components/home/_advantage.scss */
.advantage .c-grid {
  max-width: 90%;
}

/* line 9, src/scss/_components/home/_advantage.scss */
.advantage__block {
  cursor: pointer;
  position: relative;
  width: 100%;
  max-width: -webkit-calc(100% / 3);
  max-width: calc(100% / 3);
  min-height: 100%;
  -webkit-transition: max-width 0.65s ease-in-out;
  -o-transition: max-width 0.65s ease-in-out;
  transition: max-width 0.65s ease-in-out;
}

/* line 17, src/scss/_components/home/_advantage.scss */
.advantage__block.is-hover {
  max-width: -webkit-calc(50%);
  max-width: calc(50%);
  -webkit-transition: max-width 0.5s ease-in-out;
  -o-transition: max-width 0.5s ease-in-out;
  transition: max-width 0.5s ease-in-out;
}

/* line 21, src/scss/_components/home/_advantage.scss */
.advantage__block.is-nhover {
  max-width: -webkit-calc(50% / 2);
  max-width: calc(50% / 2);
  -webkit-transition: max-width 0.5s ease-in-out;
  -o-transition: max-width 0.5s ease-in-out;
  transition: max-width 0.5s ease-in-out;
}

/* line 27, src/scss/_components/home/_advantage.scss */
.advantage__block:hover .advantage__block-title {
  -webkit-transform: translateY(-11px);
      -ms-transform: translateY(-11px);
          transform: translateY(-11px);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 31, src/scss/_components/home/_advantage.scss */
.advantage__block:hover .advantage__block-desc {
  opacity: 1;
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 38, src/scss/_components/home/_advantage.scss */
.advantage__block-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 502px;
}

/* line 44, src/scss/_components/home/_advantage.scss */
.advantage__block-title {
  z-index: 10;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 24px;
  width: 100%;
  max-width: 160px;
  height: 50px;
  background-color: #ffe400;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 58, src/scss/_components/home/_advantage.scss */
.advantage__block-title p {
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
}

/* line 67, src/scss/_components/home/_advantage.scss */
.advantage__block-img {
  overflow: hidden;
  z-index: -1;
  position: relative;
  margin-top: 24px;
  height: -webkit-calc(100% - 24px);
  height: calc(100% - 24px);
}

/* line 74, src/scss/_components/home/_advantage.scss */
.advantage__block-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left center;
     object-position: left center;
}

/* line 85, src/scss/_components/home/_advantage.scss */
.advantage__block-desc {
  opacity: 0;
  z-index: 5;
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: -webkit-calc(100% - 24px);
  height: calc(100% - 24px);
  padding: 68px 50px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 98, src/scss/_components/home/_advantage.scss */
.advantage__block-desc p {
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 38px;
}

/* line 105, src/scss/_components/home/_advantage.scss */
.advantage__block-desc p span {
  font-weight: bold;
}

/* line 3, src/scss/_components/home/_channels.scss */
.channels {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* line 7, src/scss/_components/home/_channels.scss */
.channels__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 11, src/scss/_components/home/_channels.scss */
.channels__wrapper-left, .channels__wrapper-right {
  width: 50%;
}

/* line 16, src/scss/_components/home/_channels.scss */
.channels__wrapper-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 22px;
}

/* line 22, src/scss/_components/home/_channels.scss */
.channels__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 28, src/scss/_components/home/_channels.scss */
.channels__desc {
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
}

/* line 36, src/scss/_components/home/_channels.scss */
.channels__desc span {
  font-weight: bold;
}

/* line 43, src/scss/_components/home/_channels.scss */
.channels .social__list-item {
  padding-left: 16px;
  padding-right: 16px;
}

/* line 48, src/scss/_components/home/_channels.scss */
.channels .social__list-btn {
  width: 44px;
  height: 44px;
}

/* line 53, src/scss/_components/home/_channels.scss */
.channels .social__list-btn .icon-font.icon-instagram {
  font-size: 24px;
}

/* line 56, src/scss/_components/home/_channels.scss */
.channels .social__list-btn .icon-font.icon-facebook {
  font-size: 27px;
}

/* line 59, src/scss/_components/home/_channels.scss */
.channels .social__list-btn .icon-font.icon-twitter {
  font-size: 19px;
}

/* line 62, src/scss/_components/home/_channels.scss */
.channels .social__list-btn .icon-font.icon-linkedin {
  font-size: 22px;
}

/* line 65, src/scss/_components/home/_channels.scss */
.channels .social__list-btn .icon-font.icon-youtube {
  font-size: 25px;
}

/* line 3, src/scss/_components/home/_bike.scss */
.bike {
  padding-top: 5px;
  padding-bottom: 126px;
}

/* line 7, src/scss/_components/home/_bike.scss */
.bike__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 12, src/scss/_components/home/_bike.scss */
.bike__head {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 586px;
  padding: 44px 105px;
  background-color: #000000;
}

/* line 21, src/scss/_components/home/_bike.scss */
.bike__head-row {
  z-index: 5;
  position: relative;
}

/* line 25, src/scss/_components/home/_bike.scss */
.bike__head-row--0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 33px;
}

/* line 31, src/scss/_components/home/_bike.scss */
.bike__head-row--1 {
  padding-bottom: 48px;
}

/* line 35, src/scss/_components/home/_bike.scss */
.bike__head-row--2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 42, src/scss/_components/home/_bike.scss */
.bike__head-img {
  opacity: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 52, src/scss/_components/home/_bike.scss */
.bike__head-img.is-active {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 57, src/scss/_components/home/_bike.scss */
.bike__head-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom center;
     object-position: bottom center;
}

/* line 69, src/scss/_components/home/_bike.scss */
.bike__body {
  min-height: 421px;
}

/* line 73, src/scss/_components/home/_bike.scss */
.bike__tabs {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 125px;
  height: 40px;
  margin-right: 15px;
  font-weight: 900;
  font-size: 14px;
  color: #9696A0;
  letter-spacing: 0;
  text-align: center;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 89, src/scss/_components/home/_bike.scss */
.bike__tabs:last-of-type {
  margin-right: 0;
}

/* line 93, src/scss/_components/home/_bike.scss */
.bike__tabs:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 30px;
  border: 1px solid #9696A0;
  -webkit-transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* line 105, src/scss/_components/home/_bike.scss */
.bike__tabs:hover {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 109, src/scss/_components/home/_bike.scss */
.bike__tabs:hover:before {
  border-color: #fff;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 115, src/scss/_components/home/_bike.scss */
.bike__tabs.is-active {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 119, src/scss/_components/home/_bike.scss */
.bike__tabs.is-active:before {
  top: 0;
  height: 40px;
  border-color: #fff;
  -webkit-transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* line 128, src/scss/_components/home/_bike.scss */
.bike__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 160px;
  height: 50px;
  background-color: #000000;
  border: 1px solid #9696A0;
  color: #9696A0;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  -webkit-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 145, src/scss/_components/home/_bike.scss */
.bike__btn:hover {
  color: #ffffff;
  border-color: #ffffff;
  -webkit-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 151, src/scss/_components/home/_bike.scss */
.bike__btn.is-active {
  color: #FFE400;
  border-color: #FFE400;
  -webkit-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 158, src/scss/_components/home/_bike.scss */
.bike__title {
  padding-bottom: 5px;
  font-weight: 900;
  font-style: italic;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
}

/* line 167, src/scss/_components/home/_bike.scss */
.bike__desc {
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
}

/* line 175, src/scss/_components/home/_bike.scss */
.bike__block {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 382px;
  padding-top: 30px;
}

/* line 184, src/scss/_components/home/_bike.scss */
.bike__block:before, .bike__block:after {
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  background-color: #000000;
  height: 0;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

/* line 195, src/scss/_components/home/_bike.scss */
.bike__block:before {
  left: 0;
}

/* line 199, src/scss/_components/home/_bike.scss */
.bike__block:after {
  right: 0;
}

/* line 204, src/scss/_components/home/_bike.scss */
.bike__block.is-active:before, .bike__block.is-active:after {
  height: 100%;
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

/* line 210, src/scss/_components/home/_bike.scss */
.bike__block.is-active .bike__block-badge {
  color: #000000;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 215, src/scss/_components/home/_bike.scss */
.bike__block.is-active .bike__block-badge:before {
  top: 0;
  height: 40px;
  border-color: #000;
  -webkit-transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* line 224, src/scss/_components/home/_bike.scss */
.bike__block.is-active .bike__block-image img {
  -webkit-transform: scale(1.7);
      -ms-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 230, src/scss/_components/home/_bike.scss */
.bike__block.is-active .bike__block-specs,
.bike__block.is-active .bike__block-price {
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 237, src/scss/_components/home/_bike.scss */
.bike__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 249, src/scss/_components/home/_bike.scss */
.bike__block-badge {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 125px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  font-weight: 900;
  font-size: 14px;
  color: #9696A0;
  letter-spacing: 0;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 267, src/scss/_components/home/_bike.scss */
.bike__block-badge:before {
  content: '';
  z-index: 0;
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 30px;
  border: 1px solid #9696A0;
  -webkit-transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* line 280, src/scss/_components/home/_bike.scss */
.bike__block-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 291px;
}

/* line 285, src/scss/_components/home/_bike.scss */
.bike__block-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  -o-transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

/* line 295, src/scss/_components/home/_bike.scss */
.bike__block-specs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 75px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 307, src/scss/_components/home/_bike.scss */
.bike__block-specs p {
  padding-left: 13px;
  padding-right: 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  background-color: #ffe400;
}

/* line 320, src/scss/_components/home/_bike.scss */
.bike__block-specs span {
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}

/* line 329, src/scss/_components/home/_bike.scss */
.bike__block-price {
  position: relative;
  left: -5px;
  font-weight: 900;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/*# sourceMappingURL=maps/app.css.map */
