// SECTION description :: START

.description {
  .home-hardware {
    flex-shrink: 0;
    position: relative;
    width: 100%;

    &.js-sticky {
      .home-hardware__header {
        position: fixed;
        top: 0;
        z-index: 22;
      }

      .home-hardware__video-container {
        video {
          z-index: 20;
          position: fixed;
          top: 0;
          transform: translateZ(0);
        }
      }
    }

    &.js-stick-to-bottom {
      .home-hardware__video-container {
        video {
          position: absolute;
          top: 0;
          bottom: 0;
        }
      }
    }

    &__video-container {
      position: relative;
      background-color: #000000;

      video {
        position: absolute;
        top: 0;
        left:0;
        display: block;
        min-width: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
        object-position: center;
      }
    }

    &__header {
      z-index: 22;
      position: absolute;
      display: flex;
      align-items: center;
      top: -25px;
      left: 165px;
      width: 350px;
      height: 50px;
      padding-left: 25px;
      background-color: #ffe400;

      p {
        text-transform: uppercase;
        font-weight: 300;
        font-style: italic;
        font-size: 24px;
        color: #000000;
        letter-spacing: -0.3px;
      }
    }
  }

  .home-hardware-item {
    z-index: 21;
    position: absolute;
    right: 0;
    width: 100%;
    padding-right: 165px;

    &--1 {
      top: 12%;
    }
    &--2 {
      top: 26%;
    }
    &--3 {
      top: 48%;
    }
    &--4 {
      top: 70%;
    }
    &--5 {
      top: 85%;
    }

    &__title {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }

    &__content {
      margin-left: auto;
      max-width: 29rem;
      text-align: right;
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;
      margin-left: auto;
      width: 6.5rem;
      height: 6.5rem;
      color: #fff;
      border: 1px solid #fff;
      font-size: 1.4rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    &__desc {
      width: 100%;
      max-width: 350px;
      margin-bottom: 2rem;
      margin-left: auto;
      color: #fff;

      *:first-child {
        margin-top: 0;
      }

      *:last-child {
        margin-bottom: 0;
      }

      p {
        font-weight: 300;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: right;
        line-height: 20px;
      }
    }

    &__list {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      color: #fff;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: (16/14);
      text-transform: uppercase;
      list-style-type: none;
    }

    &__list-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 20px;
      margin-bottom: 4px;
      padding-right: 26px;
      font-size: 14px;
      letter-spacing: 0;

      &:last-child {
        margin-bottom: 29px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
      }

      strong {
        font-weight: 900;
        color: #ffe400;
      }
    }
  }
}

// SECTION desription :: END