// SECTION main :: START

.main {
  padding-bottom: 56px;

  &__slider {
    position: relative;
    height: 628px;

    &-btn {
      z-index: 20;
      position: absolute;
      top: calc(50% + -22px);
      transform: translateY(-50%);
      width: 21px;

      &:hover {
        svg {
          transform: scale(0.9);
          @include transition(transform);
        }
      }

      svg {
        @include transition(transform);
      }

      &--prev {
        left: 79px;
      }

      &--next {
        right: 79px;
      }
    }

    &-content {
      z-index: 15;
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      padding-top: 17px;
    }
  }

  &__desc {
    padding-top: 9px;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
  }

  &__title {
    padding-bottom: 4px;
    font-weight: 900;
    font-style: italic;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: -0.7px;
    line-height: 1;
  }

  &__subtitle {
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: -0.4px;
  }

  &__go {
    position: absolute;
    display: flex;
    align-items: center;
    top: calc(50% - 2px);
    left: calc(50% + 15px);
    transform: translate(-50%, -50%);
    width: 95px;
    height: 113px;

    &:hover {
      svg {
        transform: scale(0.9);
        @include transition(transform);
      }
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: center;
      @include transition(transform);
    }

    span {
      position: relative;
      top: 2px;
      left: 22px;
      font-weight: 900;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-transform: uppercase;
    }
  }
}

// SECTION main :: END