---
title: Greyp

pageClassName: p-home
---
extends shared/_layout

block content
  div.body(class!= pageClassName)

    include components/home/_it
    include components/home/_main
    include components/home/_digital
    include components/home/_advantage
    include components/home/_channels
    include components/home/_bike
