// SECTION fast :: START

.fast {
  z-index: 2;
  position: relative;

  &__desc {
    padding-bottom: 12px;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
  }

  &__title {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 540px;
    min-height: 80px;
    padding: 5px 26px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffe400;

    h2 {
      padding-right: 11px;
      font-weight: 300;
      font-style: italic;
      font-size: 24px;
      color: #000000;
      letter-spacing: 0;
    }

    p {
      font-weight: 300;
      font-style: italic;
      font-size: 18px;
      color: #000000;
      letter-spacing: -0.1px;
    }
  }

  &__block {
    position: relative;
    height: 90px;

    &:hover {
      .fast__block-img {
        img {
          transform: scale(1.1);
          @include transition(transform);
        }
      }
    }

    &-img {
      z-index: -1;
      overflow: hidden;
      position: absolute;
      top: -40px;
      left: 0;
      width: 100%;
      height: calc(100% + 80px);

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom center;
        transform-origin: center;
        @include transition(transform);
      }
    }

    &-text {
      position: relative;
      top: 3px;
      padding-left: 43px;
      color: #fff;

      span {
        position: relative;
        text-transform: uppercase;
        line-height: 1;

        &:first-of-type {
          font-weight: 300;
          font-style: italic;
          font-size: 36px;
          letter-spacing: -0.4px;
        }

        &:last-of-type {
          top: 26px;
          left: 7px;
          font-weight: 900;
          font-style: italic;
          font-size: 48px;
          letter-spacing: 0;
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: -40px;
      right: 0;
      width: 100%;
      max-width: 160px;
      height: 30px;
      background-color: #ffe400;
      font-weight: 900;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0.45px;
      text-align: center;
      @include transition(background-color);

      &:hover {
        color: #000000;
        background-color: #fff180;
        @include transition(background-color);
      }

      &:active {
        color: #000000;
        background-color: #ccb600;
        @include transition(background-color);
      }
    }
  }
}

// SECTION fast :: END