.icon-go {
  width:(96)*1px;
  height:(114)*1px;
}
.icon-logo {
  width:(65)*1px;
  height:(46)*1px;
}
.icon-logo-header {
  width:(212)*1px;
  height:(46)*1px;
}
.icon-next {
  width:(21)*1px;
  height:(51)*1px;
}
.icon-prev {
  width:(21)*1px;
  height:(51)*1px;
}
